.footer {
  p { font-size: 12px; }

  .support-links {
    color: $dark-gray;
    margin-bottom: $global-margin;
  }
  .support-links a {
    color: $dark-gray;
    font-size: 12px;
    font-weight: bold;
  }
  .social-links img {
    height: 20px;
    margin-bottom: $global-margin;
  }
  .can-spam {
    margin-bottom: $global-margin;

    a {
      text-decoration: underline;
    }
  }
}
