<!-- Begin Footer -->
<row class="footer">
  <columns>
    <p class="text-center support-links">
      <a href="https://support.everlywell.com/">Help & Contact </a> | <a href="https://support.everlywell.com/">FAQs</a>
    </p>
    <center>
      <menu class="social-links">
        <item><a href="https://www.facebook.com/everlywell"><img src="assets/img/social-facebook.png" /></a></item>
        <item><a href="https://www.twitter.com/everly_well"><img src="assets/img/social-twitter.png" /></a></item>
        <item><a href="https://www.instagram.com/everly_well"><img src="assets/img/social-instagram.png" /></a></item>
      </menu>
    </center>
    <p class="text-center can-spam">
      EverlyWell <br />
      800 W Cesar Chavez <br />
      Austin, TX 78701
    </p>
    <p class="text-center can-spam">No longer want to see these emails? <a href="*|UNSUB:https://www.everlywell.com/unsubscribe|*">Unsubscribe</a></p>
  </columns>
</row>
<!-- End Footer -->
