<!-- Begin Header -->
<spacer size="30"></spacer>
<container>
  <spacer size="30"></spacer>
  <row class="header">
    <columns valign="middle">
        <a href="https://www.everlywell.com">
          <img class="full-logo float-left" src="https://ucarecdn.com/c8e9e4a6-8432-4036-aae1-78605083e534/everlylogo2x.png" width="170" height="40"/>
        </a>
    </columns>
    <columns valign="middle">
      <a href="https://www.helix.com">
        <img class="helix-logo float-right" src="https://s3.amazonaws.com/everlywell-email/helix-logo-email.png" width="98" height="25"/>
      </a>
    </columns>
  </row>
</container>
<!-- End Header -->
