<!-- Begin Footer -->
<container>
  <row class="footer">
    <columns>
      <p class="text-center support-links">
        <a href="https://support.everlywell.com?utm_source=trans&utm_medium=email&utm_campaign=subscription_confirmation">Help & Contact </a> | <a href="https://support.everlywell.com?utm_source=trans&utm_medium=email&utm_campaign=subscription_confirmation">FAQs</a>
      </p>
      <spacer size="15"></spacer>
      <center class="text-center">
        <menu class="social-links text-center">
          <item class="text-center" href="https://www.facebook.com/everlywell"><img class="float-center text-center" width="20" height="20" alt="Facebook Icon" src="https://ucarecdn.com/68d9f562-672d-45b5-a299-739408fed17c/socialfacebook.png" /></item>
          <item class="text-center" href="https://www.twitter.com/everly_well"><img class="float-center text-center" width="20" height="20" alt="Twitter Icon" src="https://ucarecdn.com/39815952-071f-4e2c-97ae-043f18cb5421/socialtwitter.png" /></item>
          <item class="text-center" href="https://www.instagram.com/everly_well"><img class="float-center text-center" width="20" height="20" alt="Instagram Icon" src="https://ucarecdn.com/e1dee553-506f-4243-a62b-7efb11296fb1/socialinstagram.png" /></item>
        </menu>
      </center>
      <spacer size="15"></spacer>
      <p class="text-center can-spam">
        EverlyWell <br />
        800 W Cesar Chavez <br />
        Austin, TX 78701
      </p>
      <spacer size="15"></spacer>
      <p class="text-center can-spam">No longer want to see these emails? <a href="*|UNSUB:https://www.everlywell.com/unsubscribe|*">Unsubscribe</a></p>
    </columns>
  </row>
<spacer size="30"></spacer>
</container>
<spacer size="30"></spacer>
<!-- End Footer -->
