<!-- Begin Header -->
<spacer size="30"></spacer>
<container>
  <spacer size="30"></spacer>
  <row class="header">
    <columns>
      <center>
        <a href="https://www.everlywell.com?utm_source=trans&utm_medium=email&utm_campaign=subscription_confirmation">
          <img class="full-logo float-center" src="https://ucarecdn.com/c8e9e4a6-8432-4036-aae1-78605083e534/everlylogo2x.png" width="170" height="40"/>
        </a>
      </center>
    </columns>
  </row>
</container>
<!-- End Header -->
